* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.id-border {
  display: flex;
  border: 2px solid black;
  margin: 20px;
  gap: 5px;
}

.id-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
